* {
    text-align: center;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }

    /*  HomePage */
  .video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

  .content-text {
    position: fixed;
    bottom: 0;
    background: rgba(255, 255, 255, 0.123);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    text-align: start!important;
  }

  .text{
    margin-left: 5%;
    margin-right: 5%;
    text-align: start!important;
  }

  .button{
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000000;
    color: #fff;
    cursor: pointer;
    margin-left: 5%;
  }
  
.button:hover {
    background: #ddd;
    color: #212529;
  }

  /*  MainNavBar */

  .logo{
    font-size: 5rem!important;
    display: flex;
    align-items: center;
}
  
  /*  CountryCard */

  .card{
    margin-bottom: 10%;
    margin-right: 20px;
  }

  .card:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 3);
  }

    /*  SearchBar */

    .input-group-lg > .form-control{
      margin-right: 14%;
      margin-left: 14%;
    }

  /*  ContriesList */

  .container{
    margin:0;
    left:0;
  }

    .container-slider{
      margin:0;
      
    }

    .container-slider-container{
      display: flex;
      justify-content: space-between;
      
    }

    .container-countries{
      display: grid;
      grid-template-columns: auto auto auto auto auto auto auto auto;
      margin-top: 10%;

    }

     /*  Slider */

     .scroll-bg{
      width:30%;
      margin:10% auto;
      position: absolute;
     }

     .scroll-div{
      width: 200px;
      height:300px;
      overflow:hidden;
      overflow-y: scroll;
      border-style: ridge;
      
     }

     .scroll-obj{
      
     }

     
     /*  Country Details */

     .countryDetails-buttons{
      display: flex;
      justify-content: center;
     }

     .more-info{
      
     }

     p{
      font-size:large;
      font-weight: bold;
     }

     span{
      font-size: medium;
      color: gray;

     }